<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book-Catalog</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<form th:action="@{/}" method="post">
    <input type="text" name="keyword" placeholder="Search..." id="search-input"/>
    <input type="submit" value="Search" id="search-submit">
</form>

<a href="/cart" th:text="'Go to Cart (' + ${cartSize} + ')'"></a>

<table th:if="${searchResult}">
    <thead>
    <tr>
        <th>ISBN</th>
        <th>Author</th>
        <th>Title</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="book : ${searchResult}">
        <td th:text="${book.isbn()}"></td>
        <td th:text="${book.author()}"></td>
        <td th:text="${book.title()}"></td>
        <td th:text="${book.description()}"></td>
        <td>
            <form th:action="@{/cart/add}" method="post">
                <input type="hidden" name="isbn" th:value="${book.isbn()}">
                <input type="submit" value="Add to cart">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<p th:if="${searchResult.length == 0}">
    No books were found...
</p>

</body>
</html>